
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import "tailwindcss";

body {
  font-family: 'Alice';
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #1F1E24;
}

::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}


.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;            
}

.nav-link {
  @apply flex items-center gap-3 px-4 py-3 rounded-lg
  text-zinc-300 text-sm font-medium
  transition-all duration-200
  hover:bg-zinc-800 hover:text-white
  hover:shadow-[0_0_8px_rgba(234,179,8,0.3)];
}