
@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
@import "tailwindcss";

body {
  font-family: 'Alice';
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #1F1E24;
}

::-webkit-scrollbar-thumb {
  background: #4f46e5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}


.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;     
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;            
}
